<h1><%= @todo.content %></h1>

<%= link_to 'Back', todos_path %>
<%= link_to 'Edit', edit_todo_path(@todo) %>
<%= link_to 'Delete', todo_path(@todo), method: :delete %>
<%= button_to 'Completed', todo_path(@todo) %>